[Desktop Entry]
Type=Application
Name=Files
Exec=dolphin
Icon=/usr/share/shop-os/desktop/files.svg
Terminal=false
Categories=Utility;
StartupNotify=true
