[Desktop Entry]
Type=Application
Name=Files
Comment=Browse files and folders with Dolphin
Exec=dolphin
Icon=system-file-manager
Terminal=false
Categories=System;FileManager;
StartupNotify=true
NoDisplay=true
